.card {
    width: 150px;
    display: flex;
    flex-direction:row;
    padding: 5px;

}

.card img {
    width: 100%;
}

#cards {
    width: 600;
    padding: 30px;
    margin: 0 auto;
    float: left;
    display: grid;
    grid-template-areas: "01 02 03 04 05 06 07 08";
}
